body {
    background-image: url(../Html5/Read_1.jpg);
    background-color: #cccccc;
    background-size: cover;
    
}
button{
    width: 200px;
    height: 50px;
    z-index:auto;
    
}
button:hover{
    background-color: #41ca0b;
    border: 2px thick white;
}
form{
    text-align:center;
    margin-left: 400px;

}
h3{
    text-align:center;
    margin-left: 400px;
    color: white;
}
p {
   margin-left:810px;
    font-size:20px;
    color: white;
}
